body {
  margin: 0px;
}

.wrapper{
  border: dashed 2px red;
  width: 80%;
  margin: auto;
}

.header{
  border: dashed 2px red;
  display: flex;
  justify-content: space-between;

}

.logo, .header__menu {
  border: dashed 2px red;
  display: inline-block;

}

.logo {
  padding: 40px 0;
}

.header__menu {
  display: flex;
  align-items: center;

}

.header__menu_button {
  padding: 0 13px;
  border: dashed 2px red;
}

.header__menu_button:last-child {
  padding-right: 0;
}

.header {
  font-family: 'Roboto Slab', serif;
}

.main__title {
  font-family: 'Roboto Slab', serif;
}
.main__text {
  font-family: 'Lobster', cursive;
}

.main__button {
  font-family: 'Lobster', cursive;
}
