
body {
  margin: 0px;
}

.wrapper{
  width: 80%;
  margin: auto;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.logo, .header__menu {
  display: inline-block;

}

.logo__circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  border: dashed 1px red;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}


.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, helvetica, sans-serif;
  width: 190px;
  height: 35px;
  //background: url('img/logo.svg')
}

.header__menu {
  display: flex;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.header__menu_button {
  padding: 0 13px;
}

.header__menu_button:last-child {
  padding-right: 0;
}

.main__title {
  font-family: 'Roboto Slab', serif;
}
.main__text {
  font-family: 'Lobster', cursive;
}

.main__button {
  font-family: 'Lobster', cursive;
}
