

.header {
  font-family: 'Roboto Slab', serif;
}

.main__title {
  font-family: 'Roboto Slab', serif;
}
.main__text {
  font-family: 'Lobster', cursive;
}

.main__button {
  font-family: 'Lobster', cursive;
}
